.textField {
    display: grid;
}

.textField > label {
    float: left;
    margin-bottom: 5px;
}

.textField > input {
    padding: 10px 10px;
    font-size: 22px;
    /* height: 28px; */
    border-radius: 5px;
    border: 0.5px solid black;
}

.textField > select {
    padding: 10px 10px;
    font-size: 22px;
    background-color: white;
    /* height: 28px; */
    border-radius: 5px;
    border: 0.5px solid black;
}

.rowField {
    width: 100%;
    margin-top: 5px;
}

.saveButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #387bb5;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 5px;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 3px 5px #232323;
}

.cancelButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #b53838;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 3px 5px #232323;
}

.saveButton:hover {
    background-color: #316a9d;
}
.cancelButton:hover {
    background-color: #9e3030;
}

.saveButton:active {
    background-color: #27537a;
}
.cancelButton:active {
    background-color: #782525;
}